.div-sectionCms{
    display: flex; 
    justify-content: 
    space-between; top: 2rem;
}

.sectionCms-text{
    font-size: 25px; 
    color: #293C93; 
    font-family: 'Gilroy-Bold', sans-serif; 
    font-weight: 600;
}

.sectionCms-text2{
    font-size: 47px; 
    font-family: 'Gilroy-Bold', sans-serif; 
    font-weight: 600;
}

.div-sectionCms-img{
    background-color: #283A8F; 
    margin-right: -4.6rem; 
    width: 52%;
}

.item-bulet-sectionCms{
    position: absolute; 
    left: 34.5rem; 
    bottom: 1rem; 
    z-index: 1;
}

.custom-paragraph{
    max-width: 440px; 
    color: grey; 
    line-height: 21px;
}

.div-params-section{
    display: flex; 
    justify-content: center; 
    gap: 3rem; 
    padding-top: 4rem;
}

@media (min-width: 1700px) and (max-width: 1710px) {
    .item-bulet-sectionCms {
        left: 49.5rem;
    }
}