.customNav {
    flex-grow: 0 !important;
}

.img-about {
    margin-bottom: 11px;
}

.item-squer-bottom {
    position: absolute;
    right: 2.5rem;
}

.item-squer-left {
    transform: rotate(90deg);
    position: absolute;
    left: -3.5rem;
    bottom: 11rem;
}

.text-sectionAbout {
    font-size: 22px;
    color: grey;
    line-height: 28px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.text-custom-paragraph {
    color: grey;
}

.item-squer-bottom2 {
    position: absolute;
    right: 5.5rem;
    bottom: -1rem;
}

.img-weare {
    z-index: 2;
}

/* text rotation */
.text-rotation {
    position: absolute;
    transform: rotate(-90deg);
    left: -36rem;
    top: -4rem;
    font-size: 100px;
    color: #293C93;
    cursor: default;
}

.text-rotation-vision {
    position: absolute;
    transform: rotate(-90deg);
    right: -35rem;
    top: 12rem;
    font-size: 100px;
    color: #293C93;
    cursor: default;
}

.text-title {
    font-size: 24px;
    font-weight: bold;
    color: #293C93;
    font-family: "Gilroy-Bold", sans-serif;
    text-align: center;
}

.text-sectionVision {
    font-size: 41px;
    line-height: 44px;
    font-weight: 800;
    font-family: "Gilroy-Bold", sans-serif;
}

.text-vision {
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 24px;
    font-weight: 100;
    text-align: left;
    margin-left: 1rem;
}

.custom-hr {
    width: 883px;
}

.parent-div-text-vision {
    justify-items: center;
}

.text-title-icon {
    color: #293C93;
    font-size: 21px;
    font-family: "Gilroy-Bold", sans-serif;
    font-weight: bold;
}

.paragraph-value {
    max-width: 250px;
}

.div-params-value {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 3rem;
    margin-top: 3rem;
    padding: 0px 134px 0px 136px;
}

.footer-custom {
    background-image: url('../images/jakarta.png'), url('../images/office.svg');
    background-size: 50% 100%, auto 100%;
    height: 647px;
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;
    filter: brightness(87%)
}

.footer-container {
    position: absolute;
    bottom: -24px;
    left: -20px;
    padding: 20px;
}

@media (min-width: 1700px) and (max-width: 1710px) {
    .img-about {
        margin-left: 14rem;
    }

    .item-squer-left {
        left: 3rem;
    }

    .item-squer-bottom2 {
        right: 11rem;
    }

    .text-rotation {
        left: -41rem;
        top: -10rem;
        cursor: default;
    }

    .text-rotation-vision {
        right: -47rem;
        top: -1rem;
    }

    .div-params-value {
        padding: 0px 134px 0px 220px;
    }

    .footer-custom {
        background-size: 50% 100%, 50% 132% !important;
    }

    .footer-container {
        position: absolute;
        bottom: -24px;
        left: -11px;
        padding: 17px;
    }
}