.div-sectionCms {
  display: flex;
  justify-content: space-between;
  top: 2rem;
}

.sectionCms-text {
  font-size: 25px;
  color: #293c93;
  font-weight: 600;
}

.sectionCms-text2 {
  font-size: 47px;
  font-weight: 600;
  max-width: 70%;
}

.div-sectionCms-img {
  background-color: #283a8f;
  margin-right: -4.6rem;
  width: 52%;
}

.custom-paragraph {
  max-width: 440px;
  color: grey;
  line-height: 21px;
}

.div-params-section {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding-top: 4rem;
}

.swiper-slide .item-slide-cms {
  width: 22rem;
}

/* css new */
/* #hero .right-side > img.img-cms {
  position: absolute;
  top: -37px;
  right: -73px;
  width: 47rem;
}

#hero .left-side {
  padding-left: 2rem;
}

.hero-subtitle {
  color: #293c93;
}

.hero-title {
  padding-right: 36rem;
  font-size: 3rem;
  line-height: 1.1;
}

#hero .right-side {
  position: relative;
  height: 35rem;
} */

.param-section1 {
  margin-top: 5rem;
}

.img-section1 {
  position: absolute;
  width: 825px;
  margin-left: -19rem;
  z-index: 2;
}

.param-section1-pc {
  background-color: #293c93;
  height: 33rem;
  width: 48% !important;
}

.item-bulet-section1 {
  position: absolute;
  left: -8rem;
  bottom: 1rem;
  z-index: 1;
}

.text-section2 {
  font-size: 22px;
  color: grey;
  line-height: 28px;
  font-weight: 300;
}

.param-div-section2 {
  padding-top: 11rem;
}

.custom-text-section4 {
  font-size: 40px;
  font-weight: 600;
  line-height: 44px;
}

.custom-swiper-slide-cms {
  /* width: 34rem !important; */
  width: 21rem !important;
}

.param-text-section1 {
  margin-top: 14rem;
}

.image-container-home .hover-img-porto {
  display: none;
  position: relative;
  z-index: 3;
}

.image-container-home:hover .img-porto {
  display: none;
  position: relative;
  z-index: 3;
}

.image-container-home:hover .hover-img-porto {
  display: block;
  position: relative;
  z-index: 3;
}

.img-porto{
  width: 405px
}

.text-child-title {
  font-size: 16px;
  color: #293c93;
  font-weight: 400;
}

.text-title-porto {
  font-weight: bold;
  font-size: 24px;
}

.btn-contact-us {
  background-color: #293c93;
  border-radius: 0.5rem;
  border: none;
  color: white;
}

@media (max-width: 426px) {
  .param-section1 {
    margin-top: -6rem;
  }

  .param-section1-pc {
    background-color: #293c93;
    height: 18rem;
    width: 64% !important;
    margin-top: 14rem;
    margin-left: 9rem;
  }

  .img-section1 {
    width: 421px;
    margin-left: -12rem;
  }

  .item-bulet-section1 {
    width: 30px;
    left: -90px;
  }

  .text-section2 {
    font-size: 16px;
  }

  .param-div-section2 {
    padding-top: 0rem;
  }

  .custom-text-section4 {
    font-size: 30px;
    font-weight: 600;
    line-height: 44px;
  }

  .custom-swiper-slide-cms {
    /* width: 34rem !important; */
    width: 22rem !important;
  }

  .swiper-wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }

  .swiper-slide {
    width: auto;
    flex-shrink: 0;
    text-align: center;
  }

  .swiper {
    padding-left: 0;
    padding-right: 0;
  }

  .param-text-section1 {
    margin-top: 0rem;
  }

  .param-section1 {
    display: flex;
    display: -ms-flex;
    flex-direction: column;
  }

  .section1-bottom {
    order: 2;
  }

  .param-section1-pc {
    order: 1;
  }

  .sectionCms-text {
    font-size: 20px;
    margin-top: 15px;
  }
  
  .sectionCms-text2 {
    font-size: 32px;
    line-height: 37px;
    max-width: 100%;
  }
}

@media (max-width: 375px) {
  .img-section1 {
    width: 421px;
    margin-left: -6rem;
  }
}
